*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
Gemfile.lock
Gemfile.local
Gemfile.local.rb
rubocop.xml

# YARD artifacts
.yardoc
_yardoc
doc/

# rvm
.rvmrc
.ruby-version
.ruby-gemset
.*.sw?

# Locale files
locale/*/*.edit.po
locale/*/*.po.time_stamp
